<div class="container mt-2 ">
  <div class="d-flex justify-content-center align-items-center mb-4">
    <h1 class="ghl-brand" style="font-size: 2.75rem">
      HANLU GONG
    </h1>
  </div>

  <div style="height: 100vh;">
    <H2 style="width: 80%;">
      <em>Hanlu Gong</em> is a photographer, graduated from the famous school of photography, Famu.
    </H2>
    <%= cl_image_tag("13_jxws7b", width: 400, height: 300, crop: :fill) %>
  </div>
</div>
