<div class="block-main">
  <!-- Centered H1 at the top -->
  <div class="row">
    <div class="col-12 text-center">
      <h1>
        HANLU GONG
      </h1>
    </div>
  </div>

  <!-- Images below the H1 -->
  <div class="row justify-content-center align-items-center mt-4">
    <div class="col-md-6 home-image-container">
      <%= cl_image_tag("13_jxws7b") %>
    </div>
    <div class="col-md-6 home-image-container">
      <%= cl_image_tag("13_jxws7b") %>
    </div>
  </div>
</div>
