<h1 class="text-center">
  HANLU GONG
</h1>

<div class="mx-3">
  <div class="row justify-content-center">
    <% @photos.each do |photo| %>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <%= image_tag photo.image, class: "img-fluid" %> <!-- img-fluid makes the image responsive -->
        <div class="image-description">
          <%= photo.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>
