<div class="container mt-2">
  <h1>
    <em>Hanlu Gong</em> is a young photographer, graduated from the famous photographer called Famu.
  </h1>
  <%= cl_image_tag("13_jxws7b", width: 400, height: 300, crop: :fill) %>
</div>
