<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mt-1">
  <div class="container-fluid">
    <a class="navbar-brand ghl-brand ms-2" href="<%= root_path %>">
      GHL
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link ms-2" href="<%= albums_path%>">Selected Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-2" href="<%= bio_path%>">Bio</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link ms-2" href="<%= info_path%>">Info</a>
          </li>
      </ul>
    </div>
  </div>
  <hr>
</div>
